{
  "env": {
    "jest": true,
    "browser": true
  },
  "root": true,
  "ignorePatterns": ["*.js"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "astro", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier"
  ],
  "rules": {
    "no-undef": "error",
    "no-prototype-builtins": "off",
    "no-console": "warn",
    "import/extensions": [
      "warn",
      "never",
      {
        "json": "always"
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ]
  }
}
