---
import Layout from "../../layouts/Layout.astro";
import Name from "../../components/Name";
import Wrap from "../../components/Wrap";
import { HAND_MOVES, HAND_MOVES_META, type HandMoveMeta } from "../../core/data";

export const getStaticPaths = () => {
  return HAND_MOVES.map((slug) => ({
    params: { slug },
  }));
};

const { slug } = Astro.params;
const handMove = HAND_MOVES_META[slug] as HandMoveMeta;
---

<Layout title={`Stance ${handMove.name}`}>
  <main class="container">
    <section class="row">
      <h1><Name data={handMove} /></h1>

      <p><Wrap content={handMove.description} /></p>
    </section>
  </main>
</Layout>
