@font-face {
  font-family: "Open Sans";
  src:
    url("/kata-trainer/fonts/opensans-variablefont_wdthwght-webfont.woff2") format("woff2"),
    url("/kata-trainer/fonts/opensans-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("/kata-trainer/fonts/opensans-italic-variablefont_wdthwght-webfont.woff2") format("woff2"),
    url("/kata-trainer/fonts/opensans-italic-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Chihaya Gothic";
  src:
    url("/kata-trainer/fonts/ChihayaGothic.woff2") format("woff2"),
    url("/kata-trainer/fonts/ChihayaGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
