.feet-state {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;

  & > * {
    transform: translateY(300px) scale(0.01) translateX(50%);
  }

  .foot {
    position: absolute;
    width: 0;
    height: 0;

    &::after {
      content: "";
      position: absolute;
      width: 25cm;
      height: 10cm;
      background: black;
      bottom: -05cm;
      left: -05cm;
    }
  }
}
