@use "sass:math";

$MOVE_TRANSITION: all 0.45s ease-out;
$IMPACT_TRANSITION: all 0.4s cubic-bezier(1, 0, 0.5, 0);

.dojo {
  $width: 800px;
  $height: 800px;

  background-image: url("/images/dojo.svg");
  background-size: cover;

  position: relative;
  overflow: hidden;

  margin: auto;
  width: $width;
  height: $height;

  & > * {
    transform: translateY(math.div($height * 2, 3) + 30px) scale(0.03) translate(50%);
  }

  .foot {
    position: absolute;
    width: 0;
    height: 0;

    transition: $MOVE_TRANSITION;

    &::after {
      content: "";
      position: absolute;
      width: 25cm;
      height: 10cm;
      bottom: -5cm;
      left: -5cm;
      background: url(/images/foot.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &.foot-right::after {
      transform: scaleY(-1);
    }
  }

  .hand {
    position: absolute;
    width: 0;
    height: 0;

    transition: $IMPACT_TRANSITION;

    &::after {
      content: "";
      position: absolute;
      width: 20cm;
      height: 20cm;
      bottom: -10cm;
      left: -10cm;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &.hand-left::after {
      transform: scaleY(-1);
    }
    $CLOSED: "open";
    &.closed {
      $CLOSED: "closed";
    }

    $PALM: "ground";
    &.side {
      $PALM: "side";
    }
    &.sky {
      $PALM: "sky";
    }

    @each $closed in ("opened", "closed") {
      @each $palm in ("ground", "side", "sky") {
        &.#{$closed}.#{$palm}::after {
          background-image: url("/images/hand-#{$closed}-#{$palm}.svg");
        }
      }
    }
  }

  .body-wrapper {
    position: absolute;
    width: 0;
    height: 0;

    transition: $MOVE_TRANSITION;
  }

  .body {
    position: absolute;
    width: 0;
    height: 0;

    transition: $IMPACT_TRANSITION;

    &::after {
      content: "";
      position: absolute;
      width: 35cm;
      height: 70cm;
      bottom: -35cm;
      left: -5cm;
      background: url(/images/body.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .head {
    position: absolute;
    width: 0;
    height: 0;

    transition: $IMPACT_TRANSITION;

    &::after {
      content: "";
      position: absolute;
      width: 30cm;
      height: 36cm;
      bottom: -18cm;
      left: -5cm;
      background: url(/images/head.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
