@use "sass:math";

.body-state {
  $height: 600px;

  position: relative;
  overflow: hidden;
  width: 100%;
  height: $height;

  & > * {
    transform: translateY(math.div($height * 3, 4)) scale(0.03) translate(50%);
  }

  .foot {
    position: absolute;
    width: 0;
    height: 0;

    transition: all 0.4s ease-out;

    &::after {
      content: "";
      position: absolute;
      width: 25cm;
      height: 10cm;
      bottom: -5cm;
      left: -5cm;
      background: url(/images/foot.svg);
    }

    &.foot-right::after {
      transform: scaleY(-1);
    }
  }

  .body {
    position: absolute;
    width: 0;
    height: 0;

    transition: all 0.5s ease-out;

    &::after {
      content: "";
      position: absolute;
      width: 35cm;
      height: 70cm;
      bottom: -35cm;
      left: -5cm;
      background: url(/images/body.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
    }
  }
}
