---
import Layout from "../../layouts/Layout.astro";
import Name from "../../components/Name";
import Wrap from "../../components/Wrap";
import { FOOT_MOVES, FOOT_MOVES_META, type FootMoveMeta } from "../../core/data";

export const getStaticPaths = () => {
  return FOOT_MOVES.map((slug) => ({
    params: { slug },
  }));
};

const { slug } = Astro.params;
const footMove = FOOT_MOVES_META[slug] as FootMoveMeta;
---

<Layout title={`Mouvement de main ${footMove.name}`}>
  <main class="container">
    <section class="row">
      <h1><Name data={footMove} /></h1>

      <p><Wrap content={footMove.description} /></p>
    </section>
  </main>
</Layout>
