---
import Layout from "../layouts/Layout.astro";
import { KATAS } from "../core/data/katas";
---

<Layout title="Shotokan Karate">
  <main class="container">
    <section class="row">
      <h1>Shotokan Karate</h1>

      <p>TODO</p>
    </section>

    <section class="row">
      <h2>Katas:</h2>

      <ul class="unstyled">
        {
          KATAS.map((kata) => (
            <li>
              <a href={`/katas/${kata.slug}`}>{kata.name}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
