---
import Layout from "../../layouts/Layout.astro";
import KataDisplay from "../../components/KataDisplay";
import { KATAS, KATAS_INDEX, type Kata } from "../../core/data";

export const getStaticPaths = () => {
  return KATAS.map((kata) => ({
    params: { slug: kata.slug },
  }));
};

const { slug } = Astro.params;
const kata = KATAS_INDEX[slug] as Kata;
---

<Layout title={`Kata ${kata.name}`}>
  <main class="container">
    <section class="row">
      <h1>{kata.name}</h1>

      <p>TODO</p>
    </section>

    <KataDisplay kata={kata} client:load />
  </main>
</Layout>
