---
import "../styles/index.scss";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Some website about karate" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light mx-2">
      <div class="container">
        <a class="navbar-brand headings-font fw-bold" href="/">Shotokan Karate Kata Trainer</a>
      </div>
    </nav>

    <slot />
  </body>
</html>
